---
import Layout from '../layouts/Layout.astro';
import Why from '../components/Why.astro';
import Product from '../components/Product.astro';
import Faq from '../components/Faq.astro'
// import Card from '../components/Card.astro';
// import { Image } from 'astro:assets';
// import project from '../../public/project.jpg';
import right_arrow from '../../public/images/right_arrow.png'
import slide_1 from '../../public/images/slider_1.png'
import arrow_top from '../../public/images/vector_top.png'
import arrow_bottom from '../../public/images/vector_bottom.png'
import drum from '../../public/images/drum.png'
import why_main from '../../public/images/why_main.png'

---

<Layout title="Mignesh Global">
	<main>
		<!-- slider section  -->
		<section class="hidden slider bg-[#D9D9D9] w-screen h-[701px] relative ">
			<div class="slide-1 bg-[url(../../public/images/slider_1.png)] bg-no-repeat bg-right w-full h-full text-center md:text-left">
				<!-- slider caption -->
				<div class="caption pt-[70px] w-[90%] sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl m-auto relative z-[1]">
					<h2 class="text-[40px] leading-[48px] text-[#48389C] uppercase md:w-[386px] ">
						<span class="normal-case">
							Welcome to 
						</span>
						<b class="text-5xl">Mignesh</b> Global!
					</h2>
					<p class="text-lg  leading-6 md:w-[414px] text-white md:text-[#2C2C2C] my-5 ">
						Your one-stop platform to purchase high-quality Infrasture & Lubricant products such as Bitumen, Emulsion, Base Oil, Furnace Oil, etc.
					</p>
					<button class="text-base flex justify-evenly h-11  w-[209px] items-center bg-[#E98135] rounded-[5px] text-white m-auto md:m-0">
						<span>
							CHECK PRODUCTS
						</span>
						<img src={right_arrow.src} alt=">">
					</button>
 				</div>


				<div class="arrow_bottom absolute hidden xl:block top-0 right-[187px]">
					<img src={arrow_bottom.src} alt="arrow_top">
				</div>
				
				<div class="arrow_top absolute hidden xl:block bottom-0 right-[810px]">
					<img src={arrow_top.src} alt="arrow_bottom">
				</div>

				<div class="drum my-5 2xl:absolute bottom-20 w-[90%] sm:w-[full] sm:max-w-lg md:max-w-2xl lg:max-w-4xl m-auto xl:w-auto  xl:left-[635px]">
					<div class="m-auto w-fit md:float-right 2xl:float-none max-w-none ">
						<img src={drum.src} alt="">
					</div>
				</div>

			</div>

			<!-- buttons  -->
			<div class="slider_btns flex md:flex-col gap-3 absolute bottom-4 left-[0%] justify-center right-[0%] md:bottom-[45%] md:left-[35px]">
				<button class="1 w-[30px] h-[5px] md:w-[5px] md:h-[30px] rounded-[3px] bg-[#E98135]"></button>
				<button class="2 w-[30px] h-[5px] md:w-[5px] md:h-[30px] rounded-[3px] bg-slate-600 md:bg-[#2E2C7033]"></button>
				<button class="3 w-[30px] h-[5px] md:w-[5px] md:h-[30px] rounded-[3px] bg-slate-600 md:bg-[#2E2C7033]"></button>
			</div>
		</section>

		<!-- Why choose us section  -->
		<section class=" why bg-gradient-to-r from-[#242D4A] to-[#4B5EAA] text-white">
			<div class="flex flex-col md:flex-row justify-between items-center py-20 w-[90%] sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl m-auto">
				<div class="item-1 max-w-[524px] md:w-[50%] lg:w-[40%]">
					<img src={why_main.src} alt="">
					<p class="text-2xl sm:text-[32px] mt-8">
						Get the best quality products at
					</p>
					<h2  class="text-[40px] sm:text-5xl font-bold">
						pocket-friendly rates!
					</h2>
					<p  class="text-base mt-10 max-w-[463px]">
						Mignesh Global is the leading Company offering a wide range of products for all Infrastructure and Manufacturing companies looking to get high-quality products at the best rate and in a shorter time.
					</p>
				</div>

				<div class="item-2 md:w-[43%] lg:w-[50%]">
					<div class="heading mt-10 mb-5 md:my-5">
						<h3 class="text-2xl">
							Why Choose Us?
						</h3>
					</div>
					<div class="card grid grid-cols-2 lg:grid-cols-3 justify-between items-start gap-7">
						<Why source='../../public/images/why_1.svg' body="One-stop platform for a variety of products!"></Why>
						<Why source='../../public/images/why_2.svg' body="Best Market <br> Rates."></Why>
						<Why source='../../public/images/why_3.svg' body="Free <br> Samples."></Why>
						<Why source='../../public/images/why_4.svg' body="Fast Distribution with Mignesh Logistics."></Why>
						<Why source='../../public/images/why_5.svg' body="High-quality, <br> trusted products."></Why>
						<Why source='../../public/images/why_6.svg' body="End-to-End Customer Support."></Why>
					</div>
				</div>
			</div>
		</section>

		<!-- product section  -->
		<section class=" products">
			<div class="products w-[90%] sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl m-auto my-10 sm:my-20">
				<div class="head text-center md:text-left">
					<h6 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
						Browse through our diverse
					</h6>
					<h2 class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase">
						range of products
					</h2>
				</div>

				<div class="products grid md:grid-cols-2 xl:grid-cols-3 gap-[26px] justify-center md:justify-between my-10 md:my-[60px]">
					<Product 	
					title="Bitumen & Bitumen Products",
					body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text"
					body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS",
					source="/images/product_1.svg"
					btn="Bitumen & Bitumen Products"
					></Product>

					<Product 	
					title="Lubricant Raw Material",
					body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text"
					body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS",
					source="/images/product_2.svg"
					btn="Lubricant Raw Material"
					></Product>

					<Product 	
					title="Building & Construction Raw Material",
					body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text					"
					body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS",
					source="/images/product_3.svg"
					btn="Building & Construction Raw Material"
					></Product>

					<Product 	
					title="Petroleum Products",
					body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text					"
					body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS",
					source="/images/product_4.svg"
					btn="Petroleum Products"
					></Product>

					<Product 	
					title="Polymer Products",
					body1="Product categories overview text here lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text					"
					body2="Some product name goes here product 01, product 02, Bitumen VG 40, Bitumen VG 10, LDS",
					source="/images/product_5.svg"
					btn="Polymer Products"
					></Product>


				</div>

			</div>
		</section>

		<!-- ordering section  -->
		<section class="ordering">			
		</section>

		<!-- client section  -->
		<section class="client hidden">
			<div class="client w-[90%] sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl m-auto my-10 sm:my-20">
				<div class="head text-center md:text-left">
					<h6 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
						Our
					</h6>
					<h2 class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase">
						Esteemed Clients!
					</h2>
				</div>

				<!-- hidden slider  -->
				<div class="main-slide overflow-hidden relative my-10 sm:my-[70px] h-[263px]">
					
					<div class="slide-1 w-full absolute bg-white">
						<div class="client-slide grid grid-cols-4 justify-between w-full">
							<div class="item">
								<img src="/images/client_1.svg" alt="">
							</div>
							<div class="item">
								<img src="/images/client_2.svg" alt="">
							</div>
							<div class="item">
								<img src="/images/client_3.svg" alt="">
							</div>
							<div class="item">
								<img src="/images/client_4.svg" alt="">
							</div>
						</div>
					</div>

					<div class="slide-2 w-full absolute trans_left bg-white">
						<div class="client-slide grid grid-cols-4 justify-between w-full">
							<div class="item">
								<img src="/images/client_5.svg" alt="">
							</div>
						<div class="item">
							<img src="/images/client_6.svg" alt="">
						</div>
						<div class="item">
							<img src="/images/client_7.svg" alt="">
						</div>
						<div class="item">
							<img src="/images/client_8.svg" alt="">
						</div>
					</div>
				</div>
					
				</div>






			</div>
		</section>

		<!-- source section  -->
		<section class="source bg-gradient-to-r from-[#242D4A] to-[#4B5EAA]">
			<div class="source w-[90%] sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl m-auto my-10 sm:my-20">
				<div class="py-10 md:py-16 gap-10 flex flex-col md:flex-row justify-between items-center  text-white">
					<div class="md:w-[65%] lg:w-[65%] xl:w-auto">
						<h2 class="font-bold text-3xl sm:text-4xl lg:text-5xl lg:leading-[56px] mb-6 text-center md:text-left">
							Source the high-quality products<br class="hidden xl:block">
							from Mignesh Global!
						</h2>
						<button class="mt-6 text-sm sm:text-base flex justify-evenly gap-2 p-2 sm:h-11 sm:w-full sm:max-w-[240px] items-center bg-[#E98135] rounded-[5px] text-white m-auto md:m-0">
							<span>
								CHECK PRODUCTS NOW
							</span>
							<img src={right_arrow.src} alt=">">
						</button>
					</div>
					<div class="w-[70%] md:w-auto flex items-center justify-center">
						<img src="/images/drum_1.svg" alt="">
					</div>
				</div>
			</div>
		</section>
	
		<!-- team section  -->
		<section class="team">
			<div class="team w-[90%] sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl m-auto my-10 sm:my-20">
				<div class="head text-center md:text-left">
					<h6 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
						Meet
					</h6>
					<h2 class="text-[#48389C] text-2xl sm:text-[32px] md:leading-7 font-bold uppercase">
						Our TEAM
					</h2>
				</div>

				<div class="members text-center flex gap-12 md:gap-10 items-center flex-col md:flex-row justify-evenly my-10 mx-5 m-auto">
					
					<div class="t1 max-w-[276px]">
						<div class="1 w-fit bg-[#E98135] rounded-full">
							<img src="/images/team_1.svg" alt="">
						</div>
						<h3 class="text-[#48389C] text-lg font-bold mt-3">
							Arjun N. Pachani
						</h3>
						<p class="md:mb-3">
							CEO
						</p>
						<div class="social m-auto flex gap-5 justify-center items-center">
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/facebook.svg" alt="">
							</a>
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/linkdin.svg" alt="">
							</a>
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/twitter.svg" alt="">
							</a>
						</div>
					</div>

					<div class="t1 max-w-[276px]">
						<div class="1 w-fit bg-[#E98135] rounded-full">
							<img src="/images/team_1.svg" alt="">
						</div>
						<h3 class="text-[#48389C] text-lg font-bold mt-3">
							Arjun N. Pachani
						</h3>
						<p class="md:mb-3">
							CEO
						</p>
						<div class="social m-auto flex gap-5 justify-center items-center">
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/facebook.svg" alt="">
							</a>
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/linkdin.svg" alt="">
							</a>
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/twitter.svg" alt="">
							</a>
						</div>
					</div>


					<div class="t1 max-w-[276px]">
						<div class="1 w-fit bg-[#E98135] rounded-full">
							<img src="/images/team_1.svg" alt="">
						</div>
						<h3 class="text-[#48389C] text-lg font-bold mt-3">
							Arjun N. Pachani
						</h3>
						<p class="md:mb-3">
							CEO
						</p>
						<div class="social m-auto flex gap-5 justify-center items-center">
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/facebook.svg" alt="">
							</a>
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/linkdin.svg" alt="">
							</a>
							<a href="" class="w-fit cursor-pointer">
								<img src="/images/twitter.svg" alt="">
							</a>
						</div>
					</div>

					
				</div>
			</div>
		</section>

		<!-- faq section  -->
		<section class="faq bg-[#5A6079] text-white">
			<div class="faq w-[90%] sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl m-auto my-10 sm:my-20">
				<div class="head text-center md:text-left py-10 sm:py-20">
					<h6 class="text-[#EA8135] font-bold text-lg sm:text-xl md:leading-7">
						FAQs
					</h6>
					<h2 class=" text-2xl sm:text-[32px] md:leading-7 font-bold uppercase">
						Frequently Asked Questions
					</h2>
				</div>

				<div class=" grid md:grid-cols-2 justify-between gap-10 md:gap-8 xl:gap-16 pb-16 sm:pb-32">					
					<Faq source="/images/faq_1.svg",
					head="Does Mignesh Global Pvt Ltd have a minimum order requirement for their products?",
					body="Yes, Mignesh Global Pvt Ltd has a minimum order requirement. You need to place an order of at least 20,000kg or 20,000 liters on our website.">
					</Faq>
					
					<Faq source='/images/faq_2.svg',
					head="Do you have imported products on your website?",
					body="Yes, we have a wide range of imported products available on our platforms. As per your unique requirements, you can reach out to us, and we will help you out!">
					</Faq>

					<Faq source='/images/faq_3.svg',
					head="Can I check the samples of your product before ordering?",
					body="Yes, you can surely check the samples of the product before ordering. We can send you some of the pictures and report for the products via Whatsapp or email. Also - If you want, we can even send the sample to you before placing an order.">
					</Faq>

					<Faq source='/images/faq_4.svg',
					head="How do you ensure the seamless distribution of our products?",
					body="Yes, we have a wide range of imported products available on our platforms. As per your unique requirements, you can reach out to us, and we will help you out!  ">
					</Faq>

					<Faq source='/images/faq_5.svg',
					head="Which payment methods do you accept at Mignesh Global Pvt Ltd?",
					body="Mignesh Global Pvt Ltd accepts payment through various modes, including direct bank transfer, credit card, and debit card.">
					</Faq>

					<Faq source='/images/faq_6.svg',
					head="How much time does it take to deliver my products? ",
					body="The time to deliver your products is based on the unloading location and distance. In general, it would take around 1 to 7 days to deliver your products. Our logistics company ensures quick delivery due to our strong distribution channel. ">
					</Faq>


				</div>

			</div>
		</section>

	</main>
	<script src="../../src/js/client_slide.js"></script>
</Layout>

<style is:global>
	.trans_right{
		transform: translateX(-100%) !important; 
	}
	.trans_left{
		transform: translateX(100%) !important;
	}
	.slide-1,.slide-2{
		transition: all 0.6s ease-in-out;
	}

</style>

